HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### VS Code ###
.vscode/

# Compiled class file 
*.class

## Log files 
*.class

# package file 
*.jar
*.war
*.ear
target/

